.Certificates{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 95vw;
}

.Certificates .hed{
    justify-content: center;
}

.Certificates img{
    width: 25vw; 
    height: auto; 
    max-height: 600px; 
    margin: 20px; 
    text-align: center;
    font-family: Arial, sans-serif;
    overflow: hidden; 
    object-fit: contain;
}

@media screen and (min-width: 1202px) {
    .Certificates {
        width: 99vw;
    }
}

@media screen and (max-width: 502px) {
    .Certificates img {
        width: 100vw;
    }
}


