.contact{
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  width:99vw;
}

.contact .col{
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  flex-direction: row;
  width: 95vw;
  min-width: 450px;
}


.contact .row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 95vw;
  min-width: 450px;
}

.contact textarea{
  width: 80vw;
  height: 30vh;
  border-radius: 5px;
  margin-top: 20px;
  min-width: 450px;
}

.contact input{
  width: 35vw;
  height: 50px;
  border-radius: 5px;
  margin-top: 20px;
  min-width: 380px;
}

.contact button{
  padding: 16px 60px;
  font-size: 1.2rem;
  margin-top: 20px;
}

.contact .hed{
  height: auto;
  display: flex;
  justify-content: center;
}

.hed h2{
  text-align: center;
  width: 95vw;
  margin-bottom: 0;
}

@media only screen and (max-width: 810px) {

  .contact .col{
    flex-direction: column;
  }

  .contact input{
    width: 50vw;
    min-width: 280px;
  }

  .contact textarea{
    width: 50vw;
    min-width: 280px;
  }

}