/* ScrollToTopButton.css */

.scroll-to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 60%;
    border: none;
    border-radius: 25px;
    padding: 15px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .scroll-to-top-button.visible {
    display: block;
  }
  
  .scroll-to-top-button:hover {
    opacity: 100%;
  }
  