.Card {
  box-shadow:rgb(224, 224, 224) 0px 0px 10px -1px;
  width: 260px; 
  height: auto; 
  max-height: 600px; 
  margin: 20px auto; 
  text-align: center;
  font-family: Arial, sans-serif;
  border-radius: 20px;
  overflow: hidden; 
}

.Card h3 {
  font-size: 1.3rem;
  margin-bottom: 6px;
}

.Card p {
  font-size: 1rem;
  margin: 18px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align:justify;
}

.Card img{
  min-width: 180px;
  max-width: 200px;
  max-height: 250px;
  object-fit: contain;
}

.Card button {
  border: none;
  border-radius: 5px;
  margin-bottom: 10px; 
  padding: 12px;
  color: white;
  background-color: rgb(10, 72, 180);
  text-align: center;
  cursor: pointer;
  width: 90%;
  font-size: 18px;
}

.Card button:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 599px) {
  .Card h3{
    font-size: 1.2rem;
  }

  .Card p{
    font-size: 0.7rem;
  }
}
