.header {
  margin: auto 1vw;
  padding: 16px 32px;
  min-width: 350px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  box-sizing: border-box;
}

.header h1 {
  font-family: "McLaren", cursive;
  font-weight: 200;
  padding-right: 5px;
}

.header .address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header .h-item{
  display: inline-flex;
  justify-content: space-between;
}

.header .logo{
  max-height: 220px;
}

.header .nav{
  position: relative;
}

@media screen and (max-width: 802px){

    .header .h-info{
      display: none;
    }
}

@media screen and (min-width: 1302px){

    .header {
      width: 95vw;
    }
}