.intro{
    position: relative;
    overflow: hidden;
    padding: 20px 0 20px 20px;
    min-width: 280px;
    display:flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    text-align: left;
    border: none;
}

.col{
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.intro h3{
    margin: 10px 0 0 0;
    font-size: 2em;
}

.idiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.adiv{
    align-items: center;
}

.col img {
    width: 280px;
    margin: 20px 10px;
    border-radius: 1vw;
    box-shadow:rgb(179, 240, 255) 0 0 10px -1px;
}

.col p{
    margin-right: 5px;
}

.intro button {
    padding: 15px 40px;
    font-size: 1.2rem;
    margin-bottom:20px;
}

.intro .prod{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
}

.prod-item{
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.prod-item h3{
    font-size: 1.3rem;
}

#prod-btn{
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 702px) {
    .intro{
        display: flex;
        flex-direction: row;
    }
    
    #prod-btn{
        justify-content: center;
    }
    
    .col{
        width: 90vw;
    }
}