.product {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* width:99vw; */
  }

  .products{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .product-item {
    margin: 8px; /* Adjust as needed */
    max-width: 400px; /* Adjust as needed */
  }

  @media screen and (min-width: 1002px){

    .product {
      width: 99vw;
    }
}
