  .banner {
    position: relative;
    overflow: hidden;
    width: 99vw;
    min-width: 340px;
    height: 550px; 
    display:flex;
    justify-content: center;
  }
  
  .banner h3 {
    font-size: 2vw;
  }

  .banner .tg{
    background-color: rgba(0, 55, 150, 0.681);
    border-radius: 10px;
    max-width: 80vw;
  }

  .banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 99vw;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner-content {
    text-align: center;
    color: #fff;
  }
  
  
  .banner-content button {
    padding: 15px 30px;
    font-size: 1.5em;
    background-color: rgb(10, 72, 180);;
  }
  
  .banner .controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 99vw;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    box-sizing: border-box;
  }
  
  .banner .controls button {
    background: rgba(107, 186, 255, 0.584);
    opacity:50%;
    color: #00026dd6;
    padding: 10px;
    font-size: 1.7em;
    border: none;
    cursor: pointer;
  }

@media screen and (max-width:690px) {
  .banner{
    height: 400px;
  }
  .banner h3 {
    font-size: 4vw;
  }
}